{% extends "layout.html" %}


{% block content %}
<div class="container">
        <h1>О приложении</h1>
        <p>
            Это приложение предназначено для преобразования голосовых сообщений в текст.
            Мы используем технологию <strong>faster-whisper</strong>, которая является оптимизированной реализацией модели Whisper от OpenAI.
        </p>
        <p>
           Основные возможности:
           <ul>
                <li><strong>Быстрое распознавание:</strong> faster-whisper обеспечивает высокую скорость обработки аудио.</li>
                <li><strong>Точное преобразование:</strong> Модель Whisper обеспечивает качественный перевод голоса в текст.</li>
                <li><strong>Удобный интерфейс:</strong> Приложение позволяет записывать и отправлять аудиосообщения, а также получать текстовые расшифровки в ответ.</li>
           </ul>
        </p>
        <p>
           Приложение все еще находится в стадии разработки, мы будем рады вашей обратной связи!
        </p>
</div>
{% endblock %}
